:root{
  --blue-background:#0b1220;
  --button-color:#2563eb;
  --enigma-accent:#00f9f9;
  --enigma-text:#e0e0e0;
  --gray-background:#111827;
  --hover-color:#33c538;
  --primary-background:#0a0a0a;
  --primary-color:#F0F2F5;
  --secondary-background:#ECECEC;
  --secondary-color:#4CAF50;
  --skills-bg:#0b1220;
  --skills-border:#9ecbff;
  --skills-text:#9ecbff;
  --text-color:#5c6370;
  --third-background:#1a1a1a;
}