@import url('colors.css');

/* =========================
   Contact
========================= */
#contacto {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contacto h2 {
  color: var(--secondary-color);
  font-size: 35px;
  margin: 5vh 0;
}

.info_card {
  background: var(--third-background);
  border-radius: 15px;
  margin-bottom: 5vh;
  max-width: 60%;
  padding: 5%;
  width: 60%;
}

.info_card a {
  color: var(--primary-color);
  text-decoration: none;
}

.info_card p {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 10%;
  margin: 5vh 0 0;
  max-height: 5vh;
  width: 100%;
}

.info_card img {
  aspect-ratio: 1/1;
  max-height: 50px;
}
