@import url('colors.css');

/* =========================
   Contact
========================= */
#contacto {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contacto_intro{
  padding: 0;
  max-width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacto_intro h3{
  margin-bottom: 20px;
  margin-top : 0;
  font-size: 20px;
}

.contacto_intro p{
  margin: 0;
  font-size: 14px;
}

.info_card {  border-radius: 15px;
  border-radius: 15px;  
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_card a {
  color: var(--primary-color);
  text-decoration: none;
}

.info_card p {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 10%;
  width: 100%;
}

.info_card img {
  aspect-ratio: 1/1;
  max-height: 50px;
}

.tags {
  display: flex;
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
  min-width: 60%;
  background-color: var(--third-background);
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 0 5px 20px;
  overflow: auto;
  margin: 1%;
}