@import url('colors.css');

#proyectos {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
}

.contenedor_cards{
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 90%;
}

.card {
    box-sizing: border-box;
    margin-top: 5vh;
    background-color: var(--third-background);
    border-radius: 15px;
    padding: 5%;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.card img {
    border-radius: 10px;
    height: 40%;
    object-fit: cover;
    width: 100%;
}

.card a{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--primary-background);
    transition-duration: 0.4s;
    margin-top: auto;
    margin-bottom: 5%;
    align-self: flex-end;
    margin-right: 5%;
}

.card a:hover{
    background-color: var(--hover-color);
    scale: 1.5;
    color: white;
}


