@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    background-color: #162e21;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik','Itim', sans-serif ;
    color: #FFFFFF;
}

@theme {
      --color-bg-green: #162e21;  
      --color-bs-green: #102218;
      --color-pr-green: #13ec6d;
      --color-sd-green: #0a8b40;
      --color-tr-green: #0a8b40;
      --color-tx-green:#effef4;
      --color-bl-green:#013217;
}

