@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    background-color: #f2fcf7;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik','Itim', sans-serif ;
    color: #FFFFFF;
}

@theme {
      --color-primary-background: #f2fcf7;  
      --color-dark-background: #022c22;
      --color-surface-background : #ffffff;
      --color-primary-green: #00d664;
      --color-secondary-green: #00b553;
      --color-border-ligth: #cbf0dd;
      --color-border-green: #86efac;
      --color-text-main: #063d2b;
      --color-text-body: #3f6e5d;
      --color-text-dark: #ecfdf5;
}

